<!DOCTYPE html>
<html>
    <head>
        <title>Search - InfiniMii</title>
        <link rel="stylesheet" href="./global.css">
        </link>
        <link rel="stylesheet" href="utilityPages.css">
    </head>
    <body>
        <%- partials.header %>
        <%- partials.accountDisplay %>
        <div class="content">
            <%- partials.sidebar %>
            <form method="GET" action="/searchResults">
                <fieldset>
                    <legend>Search</legend>
                    <input name="q" placeholder="Query..." type="text"> <input type="submit">
                </fieldset>
            </form>
            <%- partials.featuredMiis %>
        </div>
        <%- partials.footer %>
        <script src="global.js"></script>
    </body>
</html>