<!DOCTYPE html>
<html>
    <head>
        <title>Upload - InfiniMii</title>
        <link rel='stylesheet' href="global.css">
        <link rel="stylesheet" href="utilityPages.css">
    </head>
    <body>
        <%- partials.header %>
        <%- partials.accountDisplay %>
        <div class='content'>
            <%- partials.sidebar %>
            <div class='upload'>
                <form action="/uploadMii" method="post" enctype="multipart/form-data" id='uploadForm'>
                    <fieldset>
                        <legend>Upload a Mii to the Website</legend>
                        <a href="/qr">Scan 3DS/Wii U QR Code?</a><br>
                        <input type="radio" value="3ds" name="type" checked required>
                        <label for="3ds">3DS/Wii U</label>
                        <input type="radio" value="wii" name="type">
                        <label for="wii">Wii</label><br>
                        <input type="file" name="mii" accept=".mii,.bin,.png,.jpg" required>
                        <textarea maxlength="250" rows="5" cols="25" placeholder="Description..."
                            name="desc"></textarea><br>
                        <% if(users[thisUser] && (users[thisUser].role==='researcher' ||
                            users[thisUser].role==='administrator' )) { %>
                            <input type="checkbox" name="official"> <label for="official">This is an <b>exact copy
                                    of a Mii</b> that appears in a game by default officially (Please mention which
                                in description). Checking or not checking this box falsely may result in the Mii
                                being taken down.
                                <% } %><input type="submit">
                    </fieldset>
                </form>
            </div>
            <%- partials.featuredMiis %>
        </div>
        <%- partials.footer %>
    </body>
</html>